TURSO_DATABASE_URL="<YOUR TURSO DATABASE URL>"
TURSO_AUTH_TOKEN="<YOUR TURSO AUTH TOKEN>"

AUTH_GOOGLE_ID="<YOUR GOOGLE ID FROM GOOGLE DASHBOARD>"
AUTH_GOOGLE_SECRET="<YOUR GOOGLE SECRET>"

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

FATSECRET_CLIENT_ID="<YOUR FATSECRET OAUTH2 CLIENT ID>"
FATSECRET_CLIENT_SECRET="<YOUR FATSECRET OAUTH2 CLIENT SECRET>"
